.start-containter {
  background-color: #063e66;
  height: 100vh;
  display: grid;
  place-items: center;
}

.start-wrapper{
  margin: 0 auto;
  width: 15%;
  border-radius: 5% 5%;
  background-color: #fecd7d;
  padding: 2%;
}

.start-button-container {
  margin-top: 2%;
  width: 100%;
}

.start-button {
  width: 100%;
    border: 0;
    background-color: white;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
    color: black;
    cursor: pointer;
  }

.start-button:hover {
  background-color: green;
  color: white;
}
